<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-app-update" version="2.0.2">
    <name>AppUpdate</name>
    <description>Cordova App Update</description>
    <license>Apache 2.0</license>
    <keywords>cordova,update,app,auto,updater</keywords>
    <js-module src="www/AppUpdate.js" name="AppUpdate">
        <clobbers target="AppUpdate"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppUpdate">
                <param name="android-package" value="com.vaenow.appupdate.android.CheckAppUpdate"/>
                <param name="onload" value="true"/>  <!-- Must Have -->
            </feature>
        </config-file>

        <source-file src="src/android/CheckAppUpdate.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/CheckUpdateThread.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/Constants.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/DownloadApkThread.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/DownloadHandler.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/UpdateManager.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/Utils.java" target-dir="src/com/vaenow/appupdate/android"/>
        <source-file src="src/android/Version.java" target-dir="src/com/vaenow/appupdate/android"/>

        <framework src="com.android.support:support-v4:24.1.1+"/>
    </platform>
</plugin>
